{% extends 'core/base.html' %}

{% block content %}

<div class="container mt-3">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center mb-5 text-white">
        <div class="col-sm-4 hover-color-orange">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, velit.</p>
        </div>
        <div class="col-sm-4 hover-color-orange">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>WEB DESIGN</h3>
            <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, velit.</p>
        </div>
        <div class="col-sm-4 hover-color-orange">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>WEB DEVELOPMENT</h3>
            <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, velit.</p>
        </div>
    </div>

    <div class="row text-center mb-5 text-white">
        <div class="col-sm-4 hover-color-orange">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, velit.</p>
        </div>
        <div class="col-sm-4 hover-color-orange">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>WEB DESIGN</h3>
            <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, velit.</p>
        </div>
        <div class="col-sm-4 hover-color-orange">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>WEB DEVELOPMENT</h3>
            <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, velit.</p>
        </div>
    </div>

    <div class="row text-center text-white">
        <div class="col-sm-4 hover-color-orange">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, velit.</p>
        </div>
        <div class="col-sm-4 hover-color-orange">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>WEB DESIGN</h3>
            <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, velit.</p>
        </div>
        <div class="col-sm-4 hover-color-orange">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>WEB DEVELOPMENT</h3>
            <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, velit.</p>
        </div>
    </div>

</div>

{% endblock content %}