{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>static files example</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Hello Aryan</h1>
    <img src="{% static 'images/vadapav.jpg' %}" alt="vadapav img">


    <script src="{% static 'javascript/app.js' %}"></script>

</body>
</html>